<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707079116343-ggdummpfgfja1ubdovganor5efhlcbga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707079116343-ggdummpfgfja1ubdovganor5efhlcbga</string>
	<key>API_KEY</key>
	<string>AIzaSyBGsuH3PD3NDEtwgXJ6OeSIxpToYHAKAI4</string>
	<key>GCM_SENDER_ID</key>
	<string>707079116343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fbad.ColinQuizApp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-e5b4f</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-e5b4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707079116343:ios:d9640c95391cd7eb4891b2</string>
</dict>
</plist>